/*
    Styles credits to Fredemus and geom3trik
    https://github.com/Fredemus/va-filter/blob/main/src/style.css
    Under GPLv3 License
*/
.container {
    background-color: #ffc7e4;
}

.waveshaper_selector {
    font-size: 5px;
    width: 100;
    height: auto;
}

.gain_meters {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

dropdown>popup {
    background-color: #141414;
    left: 1s;
    right: 1s;
}
dropdown list label {
    color: #C2C2C2;
    border-width: 1px;
    border-color: #756e6e;
}

dropdown>popup>list {
    width: 250px;
}

button {
    width: auto;
    height: auto;
    background-color: gray;
    border-radius: 0px;
}

label {
    font-size: 15;
    color: #474747;
    height: 20px;
}

knob {
    width: 70px;
    height: 70px;
}

knob .tick {
    background-color: #eeece4be;
}

knob .track {
    background-color: #33c764;
}

.on {
    background-color: #701f49;
}
